crawler/result.json
crawler/menu.json
crawler/almocoMenu.json
crawler/jantarMenu.json
crawler/desjejumMenu.json
crawler/weekMenu.json
crawler/downloads
__pycache__
crawler/outputs
.env
.vscode
.pytest_cache